__pycache__
libs/__pycache__
libs/baseclass/__pycache__
.buildozer/
bin/
.vscode/
database.db
configs.json
scan_data.json
proxys.txt
chunk0
chunk1
chunk2
note.txt
kivy_env
build
dist
alpha_build