pip
wheel
setuptools
pysocks
hurry.filesize
ago
requests
urllib3
chardet
idna
git+https://github.com/kivy/kivy.git
git+https://github.com/HeaTTheatR/KivyMD.git
docutils
pygments
pypiwin32
kivy.deps.sdl2
kivy.deps.glew
kivy.deps.gstreamer
kivy.deps.angle
git+https://github.com/pyinstaller/pyinstaller.git
